html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:firebrick;
    text-align:center;
    font-family: sans-serif;
    z-index: auto;
}
header{
    margin:0 auto;
    width:100%;
    height: 18rem;  
    display:block;
    background-color:white;
    background-image: url("http://i.imgur.com/OpvA4Rr.jpg");
    background-repeat: no-repeat;
    
}
nav{
    
    height: 4rem;
    display:block;
    margin:0 auto;
    
}

ul{
    list-style-type: none;
    display:block;
    margin:0 auto;
    font-size: 4rem
    
}
li{
    margin:0 auto;
    display:inline-block;
    font-size: 2rem;
    padding:6px
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:firebrick;
/*    background-color:#f9da0c;*/
    transition: background 2s;
    
}
#active > a{
    display:block;
    height:4rem;
    width:7.5rem;
    background-color:#f9da0c;
    margin-left: 53rem;
    transform:translateY(12rem);
    font-size: 2rem;
    color:white;
 
}
#aboutImage{
    margin:0 auto;
    width:30rem;
    height:25rem;
    float: left;
    
}

h1{
    margin:0 auto;
    float:right;
    font-size: 3em;
    width:33rem;
    transform:translateY(7.5rem);
}

main{
    height: 80rem;
    width:100rem;
    background-color:firebrick;
}

section{
    display:block;
    margin:0 auto;
    width:100%;
    
}

#columnLeft{
    width:calc(100%/2);
    float:left;
    display:inline-block;
}

#columnRight{
    width:0 auto;
    width:calc(100%/2);
    float:left;
    display:inline-block;
}


/*MAIN TEXT STARTS HERE*/


h2{
    color:white;
    font-size:3rem;
}
p{
    margin:0 auto;
    display:block;
    color:white;
    font-size: 1.5rem
}
#p{
    margin:0 auto;
    display:block;
    color:white;
    font-size: 1.5rem
} 
footer{
    margin:0 auto;
    width:100%;
    height:4rem;
    display:block;
    background-color:#f9da0c;
}
em{
    color:firebrick;
}

@media only screen
    and (min-width:768px) and (max-width:830px){
        {margin:0 8px;}
        body{
            width:calc(100%/.2);
        }
        }
        
        
        }
        
        img{
            
            max-width:calc(100%/1.3px);
            height:auto;
            transform: translate(520px,20px);

        }
	    img{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
@media only screen and (max-width:551){
    img{display:none;

    }
    float:left;
    visibility: hidden;
    opacity:40%;
    nav{display:none;
    visibility: hidden;}
}
        

	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }















