html, body{
    
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:firebrick;
    text-align:center;
    font-family: sans-serif;
}

header{
    margin:0 auto;
    width:100%;
    height: 28rem;  
    display:block;
    background-color:white;
 
 
}

#header{
    background-image: url("http://i.imgur.com/nPlBPJG.png");
    background-repeat:no-repeat;
    background-position:top right;
    
}

.logo{
    
    display:block;
    margin:1%;
    margin-left:2rem;
    padding-left:10rem;
    width:5rem;
    height:2rem;
    float:left;
    
}

nav{
    
    
    display:block;
    margin:0 auto;
    
}

/*
.fa{
    display:block;
    float:right;
    visibility: visible;
    height: 1rem;
}
*/


ul{
    list-style-type: none;
    display:block;
    margin:0 auto;
    height:6rem;
    background-color:white;
    font-size:2rem;
    line-height:2em;
    
}
li{
    margin:0 auto;
    display:inline-block;
    font-size:1.7rem;
    
}
a{
    color:black;
    padding:1rem;
    font-weight:600;
    text-decoration:none;
    text-transform:uppercase;
    
}
a:hover{
    
    color:firebrick;
    background-color:#f9da0c;
    transition:background 2s;
    
}
.active a{
    
    color:firebrick;
    height:4rem;
    background-color:#f9da0c;
    
}

h1{
    
    font-size:4rem;
    text-transform: uppercase;
    transform:translateY(8rem);
}

main{
    margin:0 auto;
    display:block;
    width:100%;
    height:100%;
    font-size: 1.7rem;
}
#main{
    margin:0 auto;
    display:block;
    width:calc(100%/2);
    float:left;
}

#nar{
    margin:0 auto;
    width:calc(100%/2);
    width:33rem;
    display:inline-block;
    height: 22rem;
    float:left;
}

#ceo{
    margin:0 auto;
    width:calc(100%/2);
    width:33rem;
    display:inline-block;
    height: 32rem; transform:translateX(82%);
    float:right;
}





































