html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:white;
    text-align:center;
    font-family: sans-serif;
}
header{
    margin:0 auto;
    width:100%;
    height: 16rem;  
    display:block;
    background-color:firebrick;
 
}
nav{
    
    height: 4rem;
    display:block;
    margin:0 auto;
    
}


ul{
    list-style-type: none;
    display:block;
    margin:0 auto;
    font-size: 4rem
    
}
li{
    margin:0 auto;
    display:inline-block;
    font-size: 2rem;
    padding:6px
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:#f9da0c;
    background-color:none;
    transition: background 2s;
    
}
.active{
    height:2rem;
    background-color:#f9da0c;
}
h1{
    display:block;
    margin:0 auto;
    padding:.5%;
    float:left;
    transform:translateY(8rem);
    color:white;
    
}