html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:#7a1501;
    text-align:center;
    font-family: sans-serif;
}
header{
    margin:0 auto;
    width:100%;
    height: 35rem;  
    display:block;
    background-color:white;
 
}
nav{
    
    height: 4rem;
    display:block;
    margin:0 auto;
    
}

.fa{
    display:block;
    float:right;
    visibility: visible;
    height: 1rem;
}


ul{
    list-style-type: none;
    display:block;
    margin:0 auto;
    font-size: 4rem
    
}
li{
    margin:0 auto;
    display:inline-block;
    font-size: 2rem;
    padding:6px
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:#7a1501;
    background-color:#f9da0c;
    transition: background 2s;
    
}
.active{
    height:2rem;
    background-color:#f9da0c;
}
#img{
    height: 33rem;
    margin:0 auto;
    
}
footer{
    display:block;
    margin:0 auto;
    width:100%;
}

h1{
    color:white;
    margin:0 auto;
    width:50%;
    height: 20%;
    padding:10px;
    font-size: 3rem;
}


h2{
    color:white;
    padding:10px;
    margin:0 auto;
    font-size:2rem;
    
}

.bottom{
    margin:0 auto;
    display:block;
    width:80%;
    border-top: solid white .03rem; 
    
    
}
/*below article had to change*/
/*
.article{
    display:inline-block;
    margin:0 auto;
    height:8rem;
    border-right: solid white .03rem;
    width:calc(80%/3);
    transform: translateY(-1rem);
  
}
*/
#middle_article{
    display:inline-block;
    margin:0 auto;
    height:8rem;
    border-right: solid white .03rem;
    width:calc(80%/3);
    transform:translateY(-2em)
}

#article{
    display:inline-block;
    margin:0 auto;
    height:8rem;
    border-right: solid white .03rem;
    width:calc(80%/3);
    width:15%;
    transform: translateY(1.9rem);
}

#right_article{
    
    display:inline-block;
    margin:0 auto;
    height:8rem;
    width:calc(80%/3);
    width:15%;
    transform: translateY(3rem);

}

#one{
    margin:0 auto;
    color:white;
    font-size:1.3rem;
    float:left;
    transform:translateY(5rem);
}
#first{
    display:block;
    margin:0 auto;
    height:8rem;
    background-image: url("http://i.imgur.com/oKDYyMm.png");
    background-repeat: no-repeat;
    transform:translateY(-17%);
    text-align: center;
    
}
#two{
    
    width:4rem;
    color:white;
    font-size:1.3rem;
    padding:7px;
    transform:translateY(5rem);
   
}
#second{
    display:block;
    margin:0 auto;
    height:8rem;
    width:9rem;
    background-image: url("http://i.imgur.com/C1LTRQ7.png");
    transform: translateY(-23%);
    background-repeat: no-repeat;
    
    
    
}
#three{
    margin:0 auto;
    color:white;
    transform:translateY(5rem);
    float:left;
    font-size:1.5em;
}
#third{
    display:block;
    margin-left:9rem;
    height:8rem;
    width:18rem;
    background-image: url("http://i.imgur.com/iBMmTtr.png");
    background-repeat: no-repeat;
    transform:translateX(3em);
    float:left;
    
}

/*
.fa fa-bars{
    margin:0 auto;
    height:9px;
    width:9px;
}
*/
/*
.menu{
    margin:0 auto;
    width:10rem;
    float:right;
    background-color:red;
    visibility: hidden;
}
*/


/*
@media only screen and (max-width:1356px){
    .menu{visibility: hidden;
    display: none;
    }
}
@media only screen and (max-width:1021px){
    
    .unorder{
        margin-left:300px;
    }
    .menu{visibility: hidden;
        display: none;
    }
}
@media only screen and (max-width:900px){

    .menu{visibility: visible
    }
    nav{
        visibility: visible;
        color: gray;
  
    }

    .unorder{
    width: auto;
    height: auto;
    font-size: 28px;
    border: lightgrey solid .1rem;
    border-radius: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
        
    }
    
    li{
        visibility: hidden;
    }
    .unorder{
        margin-left: 250px;
    }
}
@media only screen and (max-width:600px){
    .lines{
        margin-left:170px;
    }
    
}
@media only screen and (max-width:480px){
    img{
        width:100%;
        height: auto;
    }
    
    footer{
        margin-left: 70px;
        width: 10%;
        height: auto;
        
    }
    .article{
      visibility: hidden;
    }
}
*/


old media below

@media only screen
    and (min-width:768px) and (max-width:830px){
        {margin:0 8px;}
        body{
            width:calc(100%/.2);
        }
        }
        
        
        }
        
        img{
            
            max-width:calc(100%/1.3px);
            height:auto;
            transform: translate(520px,20px);

        }
	    img{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
@media only screen and (max-width:551){
    img{display:none;

    }
    float:left;
    visibility: hidden;
    opacity:40%;
    nav{display:none;
    visibility: hidden;}
}
        

	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
       

