html,body{
    margin: 0;
    padding: 0;
    
}

/*HOME PAGE BODY IS HERE*/

body{
    margin: 0;
    padding: 0;
}

/*BELOW HEADER HAS AN ID="STAY"*/

#stay{
    display:block;
    margin:0 auto;
}

/*BELOW NAV HAS AN ID="topbar"*/

#topbar{
    display:flex;
    justify-content:center;

}

/*UL IS DISPLAYED BLOCK */

ul{
    display:block;
    list-style:none;
    line-height:1rem;
}

/*LI DISPLAY INLINE-BLOCK MAKES LIST INDIVIDUALLY BOXED IN A HORIZONTAL LINE*/

li{
    padding:1rem;
    display:inline-block;
    float:left;
    height:1rem;
    font-size:1rem;
    text-transform:uppercase;
}

/*ACTIVE CLASS REFERS TO THE SIGN UP BUTTON*/

.active{
    
    background-color: #f9da0c;

}

.active > a{
    color:#7a1501;
}

a{
    
    text-decoration: none;
    color: black;
}

/*BELOW WILL MAKE YOUR ANCHOR TAG HOVER RED*/

a:hover{
    display:block;
    color:#7a1501;
}

.geekwise{
    position:inherit;
    top:30px;
    max-width: 100%;
    
}

h2{
    position: relative;
    top:30px;
    font-family: "franchise";
    font-size: 2.0em;
    text-align: center;
    margin: 40px auto 0px auto;
    color: white;
    text-transform: uppercase;
}

h3{
    position: relative;
    top:30px;
    font-family:"ciria";
    font-size: 2.0em;
    font-weight:100;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: thin;
    text-transform: lowercase;
}


/*THIS IS WHERE THE HEADER ENDS AND MAROONISH COLOR BEGINS AT BOTTOM*/

.bottom{
    height:400px;
    background-color:#7A1501; 
}

.icons{
    position: relative;
    top:50px;
    display: block;
    color: white;
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: calc(100%/3);
}

.lines{
    border-right: solid white .01rem;
    height: 90px;
    position: relative;
    top:-90px;
    margin-left:400px;
    width: 1px;
    vertical-align: middle;
}

.center{
    width:23rem;
    border-right:solid white .03rem;
    border-left:solid white .03rem;
}

#bars{
    display:none;
    float:right;
}
topbar{
    height: auto;
    display:inline;
    float:right;
    
    
}
.fa{
    float: right;
    
    visibility: hidden;
}
.list{
    float: right;
    text-align: right;
    visibility: hidden;
}
/*FLEX BOX BEGINS*/
/*
.parent {
  border: 5px solid lightcoral;
}

.item {
  height: 50px;
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}
*/



/**** display: flex ****/


/*
.example-flex .parent {
  display: flex;
}

.example-flex .item {
  width: 50px;
}
*/




/**** flex-direction ****/


/*
.example-direction .parent {
  display: flex;
  flex-direction: row-reverse;
}

.example-direction .item {
  width: 50px;
}
*/




/**** flex-wrap ****/


/*
.example-wrap .parent {
  display: flex;
  flex-wrap: wrap;
}

.example-wrap .item {
  width: 30%;
}
*/





/**** justify-content ****/


/*
.example-justify .parent {
  display: flex;
  justify-content: space-around;
}

.example-justify .item {
  width: 50px;
}
*/





/**** align-items ****/


/*
.example-align .parent {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  
}

.example-align .item {
  width: 50px;
}
*/





/**** align-content ****/


/*
.example-align-content .parent {
  height: 200px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.example-align-content .item {
  width: 20%;
}
*/





/**** order ****/


/*
.example-order .parent {
  display: flex;
}

.example-order .item {
  width: 50px;
}

.example-order .item:nth-child(2) {
  order: 1;
  background: lightgreen;
}
*/






/**** flex-grow ****/


/*
.example-grow .parent {
  display: flex;
}

.example-grow .item {
  width: 50px;
}

.example-grow .item:nth-child(2) {
  flex-grow: 2;
  background: lightgreen;
}
*/






/**** flex-shrink ****/


/*
.example-shrink .parent {
  display: flex;
}

.example-shrink .item {
  width: 200px;
}

.example-shrink .item:nth-child(2) {
  flex-shrink: 2;
  background: lightgreen;
}
*/






/**** flex-basis ****/


/*
.example-basis .parent {
  display: flex;
  flex-direction: column;
}

.example-basis .item {
  width: 200px;
}

.example-basis .item:nth-child(2) {
  flex-basis: 39px;
  background: lightgreen;
}
*/






/**** align-self ****/


/*
.example-align-self .parent {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.example-align-self .item {
  width: 50px;
  height: 50px;
}

.example-align-self .item:nth-child(2) {
  align-self: flex-end;
  background: lightgreen;
}
*/





/*FLEX BOX ENDS*/




/*
@media only screen and (max-width:1021px){
    
    .lines{
        margin-left:300px;
    }
*/
/*
    .geekwise{
        
        visibility: visible;
    }
*/
}
/*
@media only screen and (max-width:900px){
    
    .fa{
        
        visibility: visible;
        color: gray;
    }
  
    .list{
    width:200px;
    height:auto;
    font-size: 28px;
    border: lightgrey solid .1rem;
    border-radius: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    
        
    }
    nav{
        display:none;
    }
    topbar{
        display:none;
    }
    
    #bars{
        display:none;
    }
    
    #bars:checked~#topbar{
    display: block;
    visibility: visible;
   
}
    #ch{
        
        display:none;
    }
   
    li{
        text-align:left;
        width: 100px;
        color: black;
        
    }
    nav{
        
        visibility: hidden;
    }

    .lines{
        margin-left: 250px;
    }
*/
/*
    .geekwise{
        transform: translateY(12.5rem);
    }
*/
/*
    .geekwise{
        visibility: visible;
    }
*/
}
/*
@media only screen and (max-width:600px){
    {
        margin-left:170px;
    }
*/
/*
    .geekwise{
        visibility: visible;
    }
*/
}
/*
@media only screen and (max-width:480px){
    img{
        width:100%;
        height: auto;
        
    }
    
    header{
        height: 23rem;
    }
    
    .icons{
        margin-left: 70px;
        width: 10%;
        height: auto;
        
    }
*/
/*
    nav{
        display:flex;
        flex-direction: column;
        flex-direction: 
    }
*/

/*
  .geekwise{
        visibility: hidden;
}
*/

/*
html, body{
    
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}


body{
    
    box-sizing: border-box;
    margin:0 auto;
    width:100%;
    height: 100%;
    background-color:#7a1501;
    text-align:center;
    font-family: sans-serif;
}


body{
    margin: 0;
    padding: 0;
}

header{
    margin:0 auto;
    width:100%;
    height:40rem;
    background-color:aliceblue;
}

.top{
    margin: 20px;
    padding: 0;
}

nav{
   text-align:center;
    height:5rem;
    width:100%;
    display:block;
}
ul{
    display:inline-block;
    list-style:none;
    line-height:1rem;
}
li{
    padding:1rem;
    display:inline;
    float:left;
    height:1rem;
    font-size:1rem;
    text-transform:uppercase;
}
.active{
    
    background-color: #f9da0c;

}
.active > a{
    color:#7a1501;
}

a{
    
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: #f9da0c;
}

.geekwise{
    position: relative;
    top:30px;
    max-width: 100%;
    height: auto;
    text-align: center;
}
h2{
   position: relative;
    top:30px;
    font-family: "franchise";
    font-size: 2.0em;
    text-align: center;
    margin: 40px auto 0px auto;
    color: white;
    text-transform: uppercase;
}
h3{
    position: relative;
    top:30px;
    font-family:"ciria";
    font-size: 2.0em;
    font-weight:100;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: thin;
    text-transform: lowercase;
}
hr{
   text-align: center;
    width: 70%;
}
.bottom{
    height:400px;
    background-color:#7A1501; 
}
.icons{
    position: relative;
    top:50px;
    display: block;
    color: white;
    float: left;
    text-transform: uppercase;
    text-align: center;
    width: calc(100%/3);
}
.lines{
    border-right:solid white;
    height: 90px;
    position: relative;
    top:-90px;
    margin-left:400px;
    width: 1px;
    vertical-align: middle;
}
.fa{
    float: right;
    text-align: right;
    visibility: hidden;
}
.list{
    float: right;
    text-align: right;
    visibility: hidden;
}




@media only screen and (max-width:1021px){
    
    .lines{
        margin-left:300px;
    }
}
@media only screen and (max-width:900px){
    .fa{
        visibility: visible;
        color: gray;
    }

    .list{
    width:200px;
    height: ;
    font-size: 28px;
    border: lightgrey solid .1rem;
    border-radius: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    
        
    }
    
    #tiff{
        display:none;
    }
    
    #tiff:checked~#kao{
    display: block;
    visibility: visible;
   
}
   
    li{
        text-align:left;
        width: 100px;
        color: black;
        
    }
    nav{
        
        visibility: hidden;
    }

    .lines{
        margin-left: 250px;
    }
}
@media only screen and (max-width:600px){
    .lines{
        margin-left:170px;
    }
}
@media only screen and (max-width:480px){
    img{
        width:100%;
        height: auto;
    }
    
    .icons{
        margin-left: 70px;
        width: 10%;
        height: auto;
        
    }
    .lines{
      visibility: hidden;
    }
}
*/

/*
header{
    
    margin:0 auto;
    width:100%;
    height:33rem;  
    display:block;
    background-color:white;
 
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  cursor: pointer;
  user-select: none;
}

.navbar{
    
    display:block;
    margin:0 auto;
    
}

.team{
    
    background-color:yellow;
}
    
nav{
    
    width:50%;
    display:block;

}

ul{
    
    height:5rem;
    line-height:3.7rem;
    display:block;

}

li{
    
    display:inline-block;
    margin:0 auto;
    
}
*/

/*
.fa{
    
    visibility:visible;
    width:auto;
    height:auto;
    margin-left: 84%;
    transform:translateY(-3em);
    
}
*/

/*
li:hover{
    
    background-color:#f9da0c;
}

header{
    
    margin:0 auto;
    height: 35.3rem;
    background-color: white;
    display: block;
    vertical-align: middle;
    
}

a > img{
    
    max-width:100%;
    width:630px;
    height:auto;
    margin:auto;
    
}

.dropdown{
    
    display:inline-block;
    position:relative;
    
}

.dropdown-content{
    
    background-color:yellow;
    padding:10px 10px;
    display:none;
}

.dropdown:hover .dropdown-content{
    display:block;
}

nav{
    
    width:100%;
    height:auto;
    display:block;
    margin:0 auto;
    
}
*/


/* font awesome bars below*/


/*
.fa{
    display:block;
    float:right;
    visibility: visible;
    height: 1rem;
}

.fa-bars{
    color:black;
    display:block;
    visibility:visible;
    
}
*/

/*
ul{
    
    list-style-type: none;
    display:block;
    margin:0 auto;
    
}

li{
    
    margin:0 auto;
    display:inline-block;
    font-size: 1.5rem;
    padding:6.5px
        
}

a{
    
    color:black;
    text-decoration: none;
    
}

a:hover{
    
    color:#7a1501;
    background-color:#f9da0c;
    transition: background 2s;
    
}

.active{
    
    background-color:#f9da0c;
    
}

footer{
    
    display:block;
    margin:0 auto;
    width:100%;
    height: 34rem;
    
}

h1{
    color:white;
    margin:0 auto;
    width:auto;
    padding:30px;
    font-size:3rem;
    text-transform: uppercase;
    font-family: 
}

h2{
    color:white;
    margin:0 auto;
    width:60%;
    border-bottom:solid white .03rem;
    height:auto;
    font-size:2rem;
}

.bottom{
    width:100%;
    display:block;
    height: auto;
    
}

.article{
    margin:0 auto;
    margin-top: 2%;
    display:inline-block;
    text-align: center;
    width:calc(90%/3);  
    
}

.both{
    border-right:solid white .03rem;
    border-left:solid white .03rem;
}

#first{
    
    margin:0 auto;
    display:block;
    width:calc(100%/3);
    float:left;
    transform: translateX(15rem);
    border-right: solid white .03;
    
}

#second{
    
    margin:0 auto;
    display:block;
    width:calc(100%/3);
    float:left;
    transform: translateX(11rem);
        
}

#third{
    
    margin:0 auto;
    display:block;
    width:calc(100%/3);
    float:left;
    border-left: solid white .03;
    transform:translateX(10rem)
    
}
*/

/*
p{
    width:70%;
    font-size: 1.5rem;
    color:yellow;
    
}

a{
    text-decoration: none;
}

.dropdown{
    margin:1rem;
    display:inline-block;
    position:relative;
    color:#ccc5c5;
    font-size:4rem;
    border:.5px solid #dbd3d3;
    height:4rem;
    width:5rem;
    top:-6rem;
    border-radius:.5rem;
    float:right;
}

.dropdown_content{
    padding: 10px 10px;
    position:absolute;
    display:none;
    margin:0 auto;
}

.fa-bars{
    position:absolute;
    left:.7rem;
    cursor:auto;
}
.dropdown{
    visibility: hidden;
}
.dropdown_content{
    display:block;
    background-color:#f9da0c;
}

.dropdown_a:hover{
    background-color:#f9da0c;
}
#toggle{
    display: block;
    display: none;
    
}
#toggle:checked~p{
   display: block;
   
}
input[type=checkbox]:checked ~ p{
    display: none;
}
*/




/*
button{
    display:none;
}
*/

/*media quire starts here*/

/*
@media screen and (max-width: 44em) {
  {

    }
    .unorder_menu{
      display:none;
      height:100%;
    }
      menu{
          visibility:visible;
      }

    label{
      position:relative;
      display:block;
      width:100%;
    }

    label:after{
        position:absolute;
        content:"\2261";
    }
  
    input:checked ~ ul {
      display:block;
    }
      > li{
        width: 100%;
      }        
    }
  }
}
*/






/*
.fa{

    display:inline;
    
}
*/


/*Show styles*/

/*
html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    width:100%;
    height:100%;
}
*/

/*
@font-face {
  font-family: 'franchise';
  src: url('Franchise-Bold.ttf');
}

body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    text-align: center;
}

header{
    margin:0;
    padding:0;
    width:100%;
    height: 5rem;
}

header nav{
    height: 100%;
    width:100%;
    margin:0 auto;
    display:block;
}



#bars{
    display: none;
}
input{
    display: none;
}
*/


/*
header nav ul{
    list-style: none;
    padding:0;
    display: inline-block; 
    margin:0 auto;
    width:50rem;
    height:100%;
}

header nav ul li{
    font-size: 1.2rem;
    display:inline-block;
    height:100%;
    margin:0;
    padding:0;
    font-family: sans-serif
}

header nav ul li:hover{
    background-color:#F9DA0C;
}

header nav ul li:nth-child(1){
    width:12%;
}
header nav ul li:nth-child(2){
    width:14%;
}
header nav ul li:nth-child(3){
    width:18%;
}
header nav ul li:nth-child(4){
    width:13%;
}
header nav ul li:nth-child(5){
    width:11%;
    background-color:#F9DA0C;
    font-size:1.1rem;
}
header nav ul li:nth-child(6){
    width:10%;
}
header nav ul li:nth-child(7){
    width:14%;
}
*/


/*
header nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    display: inline-block;
    height: 100%;
    width:100%;
}
*/



/*
header nav ul li a span{
    position: relative;
    top:1.3rem;
}
*/

/*
#navbar_hidden{
    display: none;
}
*/


/*
main{
    margin:0;
    padding:0;
    width:auto;
    height: auto;
}

main img{
    width:auto;
    margin-bottom: 5px;
    
}


footer{
    background-color:#7A1501;
    display: block;
    margin:0 auto;
    text-align: center;
    color:white;
    height:35rem;
}

 web font from website 
h3{
    font-family: 'franchise';
}


.fluff{
    width:70%;
    display:inline-block;
    font-size:3rem;
}

h2{
    text-transform: uppercase;
    margin:0;
    padding:0;font-family: 'Franchise Bold';
}
h3{
    margin:0;
    padding:0;
}
#divider{
    width:60%;
    display: inline-block;
}

.links{
    display: inline-block;
    width:70%;
    height:auto;
}

.links p:nth-child(1){
    width:calc(100%/3);
    float: left;
    border-right: 1px solid white;
    display:block;
    margin:0 auto;
    height:8rem;
}
.links p:nth-child(2){
    width:calc(99%/3);
    float: left;
    border-right: 1px solid white;
    display:block;
    margin:0 auto;
    height:8rem;
}
.links p:nth-child(3){
    width:calc(99%/3);
    float: right;
    display:block;
    margin:0 auto;
    height:8rem;
}

.link_images{
    display: block;
    margin:0;
    
}
.link_images a{
    display:inline-block;
    width:100%
}

.link_images span{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin:0;
    padding:0;
    display: inline-block;
    height:1.5rem;
    width:13rem;
}
*/

/* start of media query, display nav bar as blocks and not inline */

/*
@media only screen and (max-width:767px){
    
    
header{
    height: 30rem;
    display: none;
}
    
    label{
        display: block;
        height: 12%;
    }
*/
    
/*
    #bars{
        display: inline-block;
        width:6%;
        float: right;
        border:1px solid lightgrey;
        opacity:.3;
        margin:1.4rem 1.4rem 0 0;
        border-radius:5px;
    }
*/
/*
    img:hover{
        background-color:grey;
    }
    
    input:checked + header{
        display:block;
        
    }
    
header nav ul{
    width:100%;
    display:block;
    margin:0 auto;
}
*/

/*
header nav ul li{
    display:inline-block; 
    height:calc(100%/7);
}

header nav ul li:nth-child(1){
    width:100%;
    height:4rem;
    border-top:1px solid lightgrey;
    
}
header nav ul li:nth-child(2){
    width:100%;
    height:4rem;
    }
*/
/*
header nav ul li:nth-child(3){
    width:100%;
    height:4rem;
}
header nav ul li:nth-child(4){
    width:100%;
    height:4rem;
}
header nav ul li:nth-child(5){
    width:100%;
    background-color:white;
    height:4rem;
}
header nav ul li:nth-child(6){
    width:100%;
    height:4rem;
}
*/
/*
header nav ul li:nth-child(7){
    width:100%;
    height:4rem;
}

header nav ul li a{
    margin:0;
    padding:0;
    display: inline-block;
    height:100%;
    width:20%;
    font-weight: 600;    
}
    header nav ul li a:hover{
        background-color:#F9DA0C;
    }
*/
/*
    #yellow{
        display: inline-block;
        height: 100%;
        width: 20%;
        background-color:#F9DA0C;
    }

    header nav ul li span:hover{
    background-color:#F9DA0C;
}
    header nav ul li:hover{
    background-color:white;
}
    
    main img{
        width:100%;
    }
*/
    
/* adjusting link images and text below it to work for media query */    
    
/*
    footer{
        height: 45rem;   
    }
    
.links{
    width:100%;
}

.link_images span{
    font-size: 1.3rem;
    width:100%;
}

    
}
*/
/*show style*/


/*


h1{
    color:white;
    margin:0 auto;
    width:50%;
    height: 20%;
    padding:10px;
    font-size: 3rem;
}
.fa{
    background-color:red;
    margin:0 auto;
    width:3rem;
    height:3rem;
}
.fa
*/
/*
#bars{
    display: none;
}
input{
    display: none;
}

#navbar_hidden{
    display: none;
}
*/
/*media quire below*/

/*
@media only screen and (max-width:767px){
    
    
header{
    height: 30rem;
    display: none;
}
    
    label{
        display: block;
        height: 12%;
    }
    
    #bars{
        display: inline-block;
        width:6%;
        float: right;
        border:1px solid lightgrey;
        opacity:.3;
        margin:1.4rem 1.4rem 0 0;
        border-radius:5px;
    }
    img:hover{
        background-color:grey;
    }
    
    input:checked + header{
        display:block;
        
    }
    
header nav ul{
    width:100%;
    display:block;
    margin:0 auto;
}

header nav ul li{
    display:inline-block; 
    height:calc(100%/7);
}

header nav ul li:nth-child(1){
    width:100%;
    height:4rem;
    border-top:1px solid lightgrey;
    
}
header nav ul li:nth-child(2){
    width:100%;
    height:4rem;
}
header nav ul li:nth-child(3){
    width:100%;
    height:4rem;
}
header nav ul li:nth-child(4){
    width:100%;
    height:4rem;
}
header nav ul li:nth-child(5){
    width:100%;
    background-color:white;
    height:4rem;
}
header nav ul li:nth-child(6){
    width:100%;
    height:4rem;
}
header nav ul li:nth-child(7){
    width:100%;
    height:4rem;
}

header nav ul li a{
    margin:0;
    padding:0;
    display: inline-block;
    height:100%;
    width:20%;
    font-weight: 600;    
}
    header nav ul li a:hover{
        background-color:#F9DA0C;
    }
    #yellow{
        display: inline-block;
        height: 100%;
        width: 20%;
        background-color:#F9DA0C;
    }

    header nav ul li span:hover{
    background-color:#F9DA0C;
}
    header nav ul li:hover{
    background-color:white;
}
    
    main img{
        width:100%;
    }
*/

/*old css below*/

/*
h2{
    color:white;
    padding:10px;
    margin:0 auto;
    font-size:2rem;
    
}

.bottom{
    margin:0 auto;
    display:block;
    width:80%;
    border-top: solid white .03rem; 
    
}
*/
/*below article had to change*/
/*
.article{
    display:inline-block;
    margin:0 auto;
    height:8rem;
    border-right: solid white .03rem;
    width:calc(80%/3);
    transform: translateY(-1rem);
  
}
*/
/*
#middle_article{
    display:inline-block;
    margin:0 auto;
    height:8rem;
    border-right: solid white .03rem;
    width:calc(80%/3);
    transform:translateY(-2em)
}

#article{
    display:inline-block;
    margin:0 auto;
    height:8rem;
    border-right: solid white .03rem;
    width:calc(80%/3);
    width:15%;
    transform: translateY(1.9rem);
}

#right_article{
    
    display:inline-block;
    margin:0 auto;
    height:8rem;
    width:calc(80%/3);
    width:15%;
    transform: translateY(3rem);

}

#one{
    margin:0 auto;
    color:white;
    font-size:1.3rem;
    float:left;
    transform:translateY(5rem);
}
#first{
    display:block;
    margin:0 auto;
    height:8rem;
    background-image: url("http://i.imgur.com/oKDYyMm.png");
    background-repeat: no-repeat;
    transform:translateY(-17%);
    text-align: center;
    
}
#two{
    
    width:4rem;
    color:white;
    font-size:1.3rem;
    padding:7px;
    transform:translateY(5rem);
   
}
#second{
    display:block;
    margin:0 auto;
    height:8rem;
    width:9rem;
    background-image: url("http://i.imgur.com/C1LTRQ7.png");
    transform: translateY(-23%);
    background-repeat: no-repeat;
    
    
    
}
#three{
    margin:0 auto;
    color:white;
    transform:translateY(5rem);
    float:left;
    font-size:1.5em;
}
#third{
    display:block;
    margin-left:9rem;
    height:8rem;
    width:18rem;
    background-image: url("http://i.imgur.com/iBMmTtr.png");
    background-repeat: no-repeat;
    transform:translateX(3em);
    float:left;
    
}
*/

/*
.fa fa-bars{
    margin:0 auto;
    height:9px;
    width:9px;
}
*/
/*
.menu{
    margin:0 auto;
    width:10rem;
    float:right;
    background-color:red;
    visibility: hidden;
}
*/


/*
@media only screen and (max-width:1356px){
    .menu{visibility: hidden;
    display: none;
    }
}
@media only screen and (max-width:1021px){
    
    .unorder{
        margin-left:300px;
    }
    .menu{visibility: hidden;
        display: none;
    }
}



@media only screen and (max-width:900px){

    .menu{visibility: visible
    }
    nav{
        visibility: visible;
        color: gray;
  
    }

    .unorder{
    width: auto;
    height: auto;
    font-size: 28px;
    border: lightgrey solid .1rem;
    border-radius: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
        
    }
    
    li{
        visibility: hidden;
    }
    .unorder{
        margin-left: 250px;
    }
}
@media only screen and (max-width:600px){
    .lines{
        margin-left:170px;
    }
    
}
@media only screen and (max-width:480px){
    img{
        width:100%;
        height: auto;
    }
    
    footer{
        margin-left: 70px;
        width: 10%;
        height: auto;
        
    }
    .article{
      visibility: hidden;
    }
}
*/


/*
old media below

@media only screen
    and (min-width:768px) and (max-width:830px){
        {margin:0 8px;}
        body{
            width:calc(100%/.2);
        }
        .fa{
        visibility:hidden;
    }
}
    .unorder menu{
        display:none;
    }    
}

        
        nav{
            margin:auto;
            max-width:calc(100%/1.3px);
            height:auto;
            transform: translate(520px,20px);

        }
	    img{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
@media only screen and (max-width:551){
    img{display:none;

    }
    ul{
        visibility: hidden;
    }
    
    
    nav{
        visibility: hidden;
    }
    li{
        visibility: hidden;
    }
    .fa{
    visibility: hidden;
    width:auto;
    height:auto;
    margin-left: 84%;
    transform:translateY(-3em);
    {

}
    }
    nav{  
    float:left;
    visibility: hidden;        
        }
    ul{
    display:none;
    visibility: hidden;
    }
    nav ul li a{
        display:none;
    }
}

 footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
    @media only screen and (max-width:492){
    img{display:none;
        }
         nav ul li a{
        display:none;
    }
      body{
            width:calc(100%/.2);
        }
        .fa{
        visibility:hidden;
    }
}
        
}

        
        img{
            
            max-width:calc(100%/1.3px);
            height:auto;
            transform: translate(520px,20px);

        }
	    img{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
@media only screen and (max-width:551){
    img{display:none;

    }
    ul{
        visibility:none;
        display:none;
    }
    
    
    nav{
        visibility: hidden;
        display: none;
    }
    li{
        visibility: hidden;
        display: none;
        
    }  
    }   
*/

