/*
html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:#7a1501;
    text-align:center;
    font-family: sans-serif;
}

header{
    margin:0 auto;
    width:100%;
    height:33rem;  
    display:block;
    background-color:white;
 
}

.navbar{
    
    display:block;
    margin:0 auto;
    background-color:red;
    
    
}
.team{
    
    background-color:yellow;
}
nav{
    
    width:60%;
    display:block;
    height: 5rem;
    
}

ul{
   display:block;


}

li{
    display:inline-block;
    margin:0 auto;
    font-size: 2rem;
    padding:2rem;
    
}

li:hover{
    background-color:right;
}

header{
    margin:0 auto;
    height: 33rem;
    background-color: white;
    display: block;
    vertical-align: middle;
    
}
a > img{
    max-width:100%;
    width:630px;
    height: auto;
}

.dropdown{
    display:inline-block;
    position:relative;
    
}

.dropdown-content{
    background-color:yellow;
    padding:10px 10px;
    display:none;
}

.dropdown:hover .dropdown-content{
    display:block;
}

nav{
    height:3rem;
    display:block;
    margin:0 auto;
    
}
*/

/* font awesome bars below*/

/*
.fa{
    display:block;
    float:right;
    visibility: visible;
    height: 1rem;
}

.fa-bars{
    color:black;
    display:block;
    visibility:visible;
    
}
*/
/*NEW STYLES*/
html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:#7a1501;
    text-align:center;
    font-family: sans-serif;
}

header{
    
    width:100%;
    height:24rem;  
    display:block;
    background-color:white;
 
}
.logo{
    float:left;
    margin:0 auto;
    padding:3em;
    width:19rem;
    transform: translateX(13rem);
}
span>img{
    float:right;
    transform:translateY(-30%);
    
}

ul{
    
    width:70%;
    display:block;
    transform:translateX(7%);

}

li{
    
    margin:0 auto;
    display:inline-block;
    font-size: 2rem;
    padding:.6%;
        
}

a{
    
    color:black;
    line-height: 3.5rem;
    text-decoration: none;
    
}

a:hover{
    
    color:#7a1501;
/*    background-color:#f9da0c;*/
    transition: background 2s;
    
}

.active{
    height: 4rem;
    background-color:#f9da0c;
    
}
h1{
    text-transform: uppercase;
    font-size: 3.6rem;
    transform:translateY(5rem);
    
}
main{
    color:white;
    font-size: 2.2rem;
    width:70%;
    text-align: center;
    margin:0 auto;
    
}
.pics{
    width:100%;
    display:block;

}
.pics>.aplus>a{
    display: inline-block;
    margin:0 auto;
    width:calc(88%/4);
}
