html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing: border-box;
    margin:0;
    width:100%;
    height: 100%;
    background-color:white;
    text-align:center;
    font-family: sans-serif;
}

header{
    margin:0 auto;
    width:100%;
    height: 15rem;  
    display:block;
    background-color:firebrick;
 
}

.logo{
    
    display:block;
    margin:1rem;
    padding-left:25rem;
    width:15rem;
    height: 5rem;
    float: left;
    
}

nav{
    
    height: 5rem;
    display:block;
    margin:0 auto;
    text-align: left;
    
}

ul{
    list-style-type: none;
    display:block;
    margin:0 auto;
    font-size: 4rem
    
}

li{
    margin:0 auto;
    display:inline-block;
    font-size: 2rem;
    padding:9px
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color:firebrick;
    background-color:#f9da0c;
    transition: background 2s;
    
}

.active{
    height:2rem;
    background-color:#f9da0c;
}
span p{
    margin:0 auto;
    width:83rem;
    height: 3rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    color:white;
    text-transform: uppercase;
    float:left;
    transform:translateY(5rem);
}
p > em{
    float:right;
}





/*HEADER ENDS HERE*/

main{
    display:block;
    margin:0 auto;
    
}

section{
    display:block;
    float:left;
}

.textBottom{
    display:block;
    float:left;
}
.button{
    margin:0 auto;
    display:block;
    width:28rem;
    height: 4rem;
    padding:2%;
    line-height:3.3rem;
    font-size: 2rem;
    border-radius: 19%;
    background-color:#f9da0c;
}
.button:hover{
    border: solid .05em firebrick;
    background-color:white;
    transition: background 1.3s;
}
.button > a{
    color:firebrick;
}
.button > a:hover{
    background-color:firebrick;
    color:#f9da0c;
    border-radius: 19%;
    transition: background 1.3s;
}
#owl{
    margin:0 auto;
    display:block;
    float:right;
    
}












